@use 'variables' as v;

.piechart-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.pie-chart {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px 0;
    background: conic-gradient(
        #0fd320 0deg 40deg,
        #1c30e2 40deg 70deg,
        #f80101 70deg 90deg,
        #c2bcbc 90deg 100deg
    );
}

.chart-labels {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.color-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
     @each $platform, $color in v.$platform-colors {
        &.#{$platform} {
             background-color: $color;
           }
        }
    }


.chart-labels span {
    font-size: 0.8rem;
    font-weight: bold;
    color: #333;
}
