@use 'variables' as v;


nav {
    width: 250px;
    background-color: v.$nav-bg-color;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}

nav a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    transition: background-color 0.2s;
}

nav li {
    margin-bottom: 10px;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

nav .active a {
    background-color: v.$nav-active;
    color: v.$nav-bg-color;
}