$main-bg-color: #8119e2;
$nav-bg-color: #8119e2;
$nav-active: #a04cf1;
$text-color: #333;
$card-bg: #fff;
$border-color: #7678ed;

$platform-colors: (
    pc: #a4508b,
    xbox: #f8a1d1,
    ps: #8fe388,
    switch: #89c4f4
);